<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
</head>
<body>
	<h1>This is home page</h1>

	<a href="/user/create">Create New User</a> |
	<a href="/home/userlist">User list</a> |
	<a href="/logout">logout</a>

</body>
</html>